{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}
<!--头部搜索开始-->

<!--头部搜索结束-->
<div class="layui-form">
    <table class="layui-table lay-even">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>学院</th>
            <th>毕业年份</th>
            <th>捐赠金额</th>
            <th>类型</th>
            <th>祝福语</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="list" item="vo"}
        <tr>
            <td align="center"><span>{$vo.id}</span></td>
            <td>{$vo.name}</td>
            <td>{$vo.college}</td>
            <td>{$vo.time}</td>
            <td>{$vo.money}</td>
            <td>{if $vo.class == -1}祝福{elseif $vo.class == 1}捐赠{/if}</td>
            <td>{$vo.content}</td>
            <td>{$vo.createtime|date="Y-m-d"}</td>

            <td>
                <a class="layui-btn layui-btn-mini layui-btn-danger ajax"
                   data-list='{"key":"id={$vo.id}","msg":true,"render":"true","action":"del"}'
                   data-params='{"url": "{:url("blessing/del")}","confirm":"true","data":"id={$vo.id}","complete":"del"}'>
                    <i class="iconfont">&#xe626;</i>删除
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<div class="text-right" style="text-align: center">
    <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-1">
        {$list|raw}
    </div>
</div>

</body>
{/block}
{block name="script"}
<script>
    layui.use('default');
</script>
{/block}