<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<!--S meta 开始-->
	<title>{$title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">

<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
<link rel="stylesheet" href="/static/home/css/xinziyou.css?ver=20180101">

<body>

<div class="weui-panel weui-panel_access">

  <div class="weui-panel__bd">
    {volist name="result" id="vo"}
    <a href="{:url('shopshow',['id'=>$vo.id])}" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <span class="weui-media-box__thumb"><dd style="background:#ff7001;border-radius:0.2rem;border:none;font-family:'微软雅黑';font-size:0.65rem;line-height: 1.4rem;margin-top: 10px;color:#fff;">{$vo.distance}</dd></span>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title" style="padding-left: -20px;">{$vo.shop}</h4>
        <p class="weui-media-box__desc" style="color:#333;line-height:20px;">地址：{$vo.address}</p>
        <p class="weui-media-box__desc" style="color:#333;line-height:20px;">电话：{$vo.phone}</p>
      </div>
    </a>
    {/volist}
  </div>

</div>

<!--E 个人中心 结束-->
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
</body>
</html>