{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}
<!--头部搜索开始-->
<div class="container-fluid larry-wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <section class="panel panel-padding">
                <form class="layui-form" action="{:url('')}">
                    <div class="layui-form">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="mobile" value="{$pageMaps.mobile|default=''}" placeholder="请输入客户手机号">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="customerName" value="{$pageMaps.customerName|default=''}" placeholder="请输入客户姓名">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input class="layui-input" name="usermobile" value="{$pageMaps.usermobile|default=''}" placeholder="员工手机号">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button lay-submit class="layui-btn" lay-filter="search">查找</button>
                        </div>
						 <div class="layui-inline">
                            <a href="{:url('exportuserlist')}" class="layui-btn">导出</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<!--头部搜索结束-->
<div class="layui-form">
    <table class="layui-table lay-even">
        <thead>
        <tr>
            <th>序号</th>
            <th>Openid</th>
            <th>客户昵称</th>
            <th>客户姓名</th>
            <th>公司名称</th>
            <th>员工手机号</th>
            <th>收藏资产数</th>
            <th>浏览资产数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach name="list" item="vo" key="k"}
        <tr>
            <td align="center"><span>{$pageMaps.page*20+$k+1}</span></td>
            <td>{$vo.cli_openid}</td>
            <td>{$vo.nickName}</td>
            <td>{$vo.cli_name}</td>
            <td>{$vo.cli_company}</td>
            <td>{$vo.mobiles}</a></td>
            <td><a href="{:url('viewCollectList',array('openid'=>$vo.cli_openid))}" class="layui-btn layui-btn-mini modal-catch">{$vo.collectNum}</a></td>
            <td><a href="{:url('CollectList',array('openid'=>$vo.cli_openid))}" class="layui-btn layui-btn-mini modal-catch">{$vo.viewNum}</a></td>
            <td>
                <a href="{:url('info',array('id'=>$vo.id))}" class="layui-btn layui-btn-mini modal-catch">
                    <i class="iconfont">&#xe653;</i>编辑
                </a><br/>
                <a class="layui-btn layui-btn-mini layui-btn-danger ajax"
                   data-list='{"key":"id={$vo.id}","msg":true,"render":"true","action":"del"}'
                   data-params='{"url": "{:url("del")}","confirm":"true","data":"id={$vo.id}","complete":"del"}' style="margin-top: 5px">
                    <i class="iconfont">&#xe626;</i>删除
                </a><br/>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
<div class="text-right" style="text-align: center">
    <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-1">
        {$list|raw}
    </div>
</div>

</body>
{/block}
{block name="script"}
<script>
    layui.use('default');
</script>
{/block}