<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<!--S meta 开始-->
	<title>我的会员卡</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">

<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
<link rel="stylesheet" href="/static/home/css/xinziyou.css?ver=8">
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    wx.config({
        debug: false,
        appId: "{$sign['appId']}",
        timestamp: {$sign['timestamp']},
        nonceStr: "{$sign['nonceStr']}",
        signature: "{$sign['signature']}",
        jsApiList: [
            'openCard'
        ]
    });


  </script>

<body>

<!--S 我的优惠券-->

<div class="youhuicode">
  
    {volist name="result" id="vo"}
    <div style="margin-top: 10px;margin-bottom: 10px;text-align: center; position:relative;"><img src="{$vo.background_pic_url}" style="max-width: 100%" onclick="info('{$vo.card_id}','{$vo.code}')"/>
      <div style="position:absolute;left: 20px;top:20px;"><img src="/static/home/images/xinziyou.jpg" style="border-radius:50%;max-width: 50px;"></div>
      <div style="position:absolute;left: 80px;top:20px;color:{$vo.color}">新自由尊享服务</div>
      <div style="position:absolute;left: 80px;top:40px;color:{$vo.color}">{$vo.card_name}</div>
      <div style="position:absolute;left: 40px;bottom:30px;color:{$vo.color};font-size:0.8rem;">{$vo.code}</div>
    </div>

    <!--
    <div style="background:url({$vo.background_pic_url}) no-repeat left; background-size:100% 100%; height:250px;" onclick="info('{$vo.card_id}','{$vo.code}')">
      <div >
        <div style="color:#ff0000;">{$vo.card_name}</div>
        <div>有效期至：{$vo.end_time}</div>
      </div>
    </div>
  -->
    {/volist}
  
</div>
<!--E 我的优惠券-->

<!-- body 最后 jQuery WeUI JS-->
<script src="/static/home/js/fastclick.js"></script>

<!--E 个人中心 结束-->
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script>
function info(cardid,code)
{
	//$.alert("请前往微信卡包中进行使用。", "提示");
	wx.openCard({
		cardList: [
			{
				cardId:cardid,
				code: code
			}
		]
	});
		
}
</script>
</body>
</html>