<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>开学季，线上充值赢豪礼</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/style.css?v=20170814">
</head>

<body>
    <div class="content">
        <img src="img/gule.png" alt="" class="gule">
        <div class="head">
            <img src="img/zlogo.png" alt="" class="zlogo">
            <img src="img/slogo.png" alt="" class="slogo">
            <div style="clear:both;"></div>
        </div>
        <div class="banner"><img src="img/zz.png" alt=""></div>
        <img src="img/all.png" alt=""  style="width: 80%;margin-left:10%;margin-top:1rem;">
        <div class="prize" style="width:90%;margin-left:5%;">
            <h3>参与方式</h3>
            <p> 关注“
            <span>中国银行陕西分行</span>”微信公众号 点击菜单“<span>玩转生活</span>”&#10170;“<span>中银e校园</span>”&#10170; <span>校园卡充值</span>&#10170; <span>充值成功</span> &#10170;<span>参与抽奖</span>。</p>
            <h4>数量有限，先到先得</h4>
           
        </div>
         <div class="pangxie"><img src="img/pangxie.png" alt=""></div>
</body>

</html>