<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>开学季，线上充值赢豪礼</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/style.css?v=20170814">
</head>

<body>
    <div class="content">
        <img src="img/gule.png" alt="" class="gule">
        <div class="head">
            <img src="img/zlogo.png" alt="" class="zlogo">
            <img src="img/slogo.png" alt="" class="slogo">
            <div style="clear:both;"></div>
        </div>
        <div class="banner"><img src="img/gx.png" alt=""></div>
        <div class="win_nav">
            <h3>获得U盘1个一个</h3>
            <p>请前往校园E银行领取奖品哦！</p>
        </div>
        <div class="prize"><!-- <img src="img/jp.png" alt=""> --><img src="img/U.png" alt=""></div>
        <div class="tip">“中奖验证码已发送至您的微信，请注意查看”</div>
        <div class="pangxie"><img src="img/pangxie.png" alt=""></div>
    </div>
</body>

</html>