<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 浏览器中页面将以原始大小显示，并不允许缩放 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 网站开启对web app程序的支持 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>投票系统</title>
    <link rel="stylesheet" href="/static/xjboc/vote/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/xjboc/vote/css/public.css">
    <link rel="stylesheet" href="/static/xjboc/vote/css/style.css">
    <script src="/static/xjboc/vote/js/jquery.js"></script>
    <script src="/static/xjboc/vote/js/bootstrap.min.js"></script>
    <style>
        .can{
            box-shadow:none;
        }
        .can_over{
            border-radius:6px;
            box-shadow:0 1px 1px #FD7184;
            margin-top:2rem;
            padding:0.5rem 0;
        }
        .bian{
            box-shadow:0 2px 2px #FF7087;
        }
        .img{
            width: 100%;
        }
    </style>
</head>
<body>
<div class="content content_a">
    <div class="can">
        <div class="can_over">
            <img src="/static/xjboc/vote/img/icon_04.png" alt="">
            <div class = "span1"  id="time1" data-time="2018/12/12 18:00">
                活动结束倒计时：
                <em id="d"></em>天<em id="h"></em>时<em id="i"></em>分<em id="s"></em>秒

            </div>
        </div>
        <div class="bian">
            <div class="bian_top">
                <div class="bian_left">
                    <img src="{$info.image}" alt="">
                    <div class="hao">
                        <div class="hao_01">
                            编号：<span>{$info.num}</span>号
                        </div>
                        <div class="hao_02">
                            {$info.username}
                        </div>
                    </div>
                </div>
                <div class="bian_right">
                    <span>{$info.votes}</span>票
                </div>
            </div>
            <div class="bian_2">
                {$info.description}
            </div>
            <div style="width: 100%">
                {$info.content|raw}

            </div>
            <a id="qi" href="javascript: void(0);" onclick="toVote('{$info.id}')">投TA一票 </a>
        </div>
    </div>
</div>
<script>
    function toVote(id) {
        $.ajax({
            url:"{:url('vote/tovote')}",
            type:"post",
            data:{
                'act_id':"{$act_id}",
                'openid':"{$openid}",
                'token':"{$token}",
                'user_id':id
            },
            dataType:"json",
            success:function (data) {
                alert(data.msg);
            }

        })
    }
    function test() {
        var nowTime = new Date().getTime();
        var endTime = "{$vote_time['end_time']}" * 1000;
        var t = endTime - nowTime;
        var d = Math.floor(t / 1000 / 60 / 60 / 24);

        var h = Math.floor(t / 1000 / 60 / 60 % 24);
        var i = Math.floor(t / 1000 / 60 % 60);
        var s = Math.floor(t / 1000 % 60);

        document.getElementById('d').innerHTML = d;
        document.getElementById('h').innerHTML = h;
        document.getElementById('i').innerHTML = i;
        document.getElementById('s').innerHTML = s;

        setTimeout(test, 1000);
    }
    window.onload = test;

</script>
</body>
</html>