<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>开学季，线上充值赢豪礼</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/style.css?v=20170814">
</head>

<body>
    <div class="content">
        <div class="head">
            <img src="img/zlogo.png" alt="" class="zlogo">
            <img src="img/slogo.png" alt="" class="slogo">
            <div style="clear:both;"></div>
        </div>
        <div class="banner"><img src="img/gule2.png" alt="" style="width:6rem;margin-top: 0px;"></div>
        <div class="gule_nav">
            <p> 1、本活动仅限陕西师范大学使用“中银e校园”微信应用充值成功的用户参与。 </p>
            <p>2、参与方式：关注“中国银行陕西分行”微信公众号——点击菜单“玩转生活”——“中银e校园”——校园卡充值——充值成功——参与抽奖。 </p>
            <p>3、活动参与时间：2017年9月1日—10月31日。</p>
            <p> 4、每位用户每日第一次充值可参与一次抽奖，每个手机号只能中奖一次。</p>
            <p> 5、中奖用户需持微信验证码前往陕西师范大学校园E银行（北校区西区4号公寓北侧（茶兰芝楼下））进行奖品领取。领奖时间：2017年9月7日之后，每天上午10:00-12:00，下午14:00-17:00。</p>
            <p>6、用户中奖奖品以收到的中奖信息内容为准，请中奖用户妥善保存中奖信息及验证码，如有丢失，将不能进行奖品领取。</p>
            <p>7、本活动最终解释权归中国银行陕西分行所有，在法律许可范围内，中国银行陕西分行保留对本次活动内容变更的权利。</p>
        </div>
        <div class="pangxie"><img src="img/pangxie.png" alt=""></div>
</body>

</html>