{extend name="admin@public/base_content" /}

{block name="content_header">}

{block name="body">}

<body>

{include file="admin@public/common" /}

<!--头部搜索开始-->



<div class="layui-form">

    <table class="layui-table lay-even">

        <thead>

        <tr>

            <th width="5%">ID</th>

            <th width="25%">标题</th>

            <th width="20%">图片</th>

            <th width="20%">排序</th>

            <th width="10%">状态</th>

            <th width="20%">操作</th>

        </tr>

        </thead>

        <tbody>

        {foreach name="list" item="vo"}

        <tr>

            <td align="center"><span>{$vo.id}</span></td>

            <td>{$vo.title}</td>

            <td><img src="{$vo.image}" width="65px" height="40px" alt=""></td>

            <td>{$vo.listorder}</td>

            <td><input type="checkbox" name="field_value" lay-skin="switch" value="1" lay-text="显示|关闭" {eq name="vo.status" value="1"}checked{/eq}  lay-filter="ajax" data-params='{"url":"{:url("api/api/upField")}","confirm":"true","data":"table=banner&id_name=id&id_value={$vo.id}&field=status","complete":"up"}'></td>


            <td>


                <a href="{:url('info',array('id'=>$vo.id))}" class="layui-btn layui-btn-mini modal-catch">

                    <i class="iconfont">&#xe653;</i>编辑

                </a>

                <a class="layui-btn layui-btn-mini layui-btn-danger ajax"

                   data-list='{"key":"id={$vo.id}","msg":true,"render":"true","action":"del"}'

                   data-params='{"url": "{:url("banner/del")}","confirm":"true","data":"id={$vo.id}","complete":"del"}'>

                    <i class="iconfont">&#xe626;</i>删除

                </a>

            </td>

        </tr>

        {/foreach}

        </tbody>

    </table>

</div>

<div class="text-right">

    <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-1">



    </div>

</div>

</body>

{/block}

{block name="script"}

<script>

    layui.use(['default','jquery']);

    $('$view').click(function () {

    })

</script>

{/block}