{extend name="admin@public/base_content" /}
{block name="body">}
<body>
{include file="admin@public/common" /}

<div class="layui-form">
    <div >
        <ul>
            <li>
                <span>卡券ID</span>
                <div>pUZaUjrX4fKC8Kws0clEY13zonFI</div>
            </li>

        </ul>
    </div>
    <div>
        <div>
            <div>

            </div>
        </div>
    </div>
</div>
<div class="text-right">
    <div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-1">

    </div>
</div>
</body>
{/block}
{block name="script"}
<script>


    layui.use('default');
</script>
{/block}