

<from methed="post" action="">

<label>你可以通过以下方式投放卡券</label>
    <div>
        <div>
            <label>
                <span>直接群发卡券</span>
                <input type="radio" name="type" value="1" checked>
                <p>通过公众号消息，直接推放</p>

            </label>
        </div>

        <div>
            <label>
                <span>嵌入图文消息</span>
                <input type="radio" name="type" value="2" >
                <p>将卡券嵌入图文信息，再由公众号投放</p>

            </label>
        </div>

        <div>
            <label>
                <span>二维码投放</span>
                <input type="radio" name="type" value="3">
                <p>下载卡券二维码，通过打印张贴或其他渠道发放该二维码365天内有效，过期将无法使用</p>

            </label>
        </div>

    </div>

    <div>
        <span>
            <button type="submit" class="layui-btn">确定</button>
        </span>
        <span>
            <button class="layui-btn">取消</button>
        </span>

    </div>
</from>