<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<!--S meta 开始-->
	<title>获取卡券</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">

<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        wx.config({
            debug: false,
            appId: "{$sign['appId']}",
            timestamp: {$sign['timestamp']},
            nonceStr: "{$sign['nonceStr']}",
            signature: "{$sign['signature']}",
            jsApiList: [
                'addCard'
            ]
        });

        wx.ready(function(){
            //添加卡券
            wx.addCard({
                cardList: [
                    {
                        cardId:'{$card_id}',
                        cardExt: '{"nonce_str":"{$cardSign['nonceStr']}","timestamp":"{$cardSign['timestamp']}","signature":"{$cardSign['cardSign']}"}'
                    }
                ],
                success: function (res) {
//                    alert('已添加卡券：' + JSON.stringify(res.cardList));
                    console.log(JSON.stringify(res.cardList));
                    $.ajax({
                        type:"post",
                        url:"{:url('index/sendTemp')}",
                        data:{
                            "card_id":'{$card_id}',
                            "openid":'{$openid}',
                            "token":'{$token}'
                        },
                        dataType:"json",
                        success:function (data) {
                            if (data.status==200){
                                alert('卡券领取成功')
                            }
                        }

                    });
                }
            });
        });
    </script>
<body>

<!--E 网页开始-->
<div class="container">
  <!--E 注册开始-->
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-info  weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title"><i class="weui-loading"></i>获取卡券中，请稍后…</h2>
            <p class="weui-msg__desc"></p>
        </div>

    </div>

	  
</div> 





</body>
</html>