<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xi</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">-->
    {block name="style"}{/block}
    <!--头部描述信息开始<div class="container-fluid am-cf">-->
    {block name="content_header">}{/block}
    <!--头部描述信息结束-->

</head>

{block name="body">}

{/block}
<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<!--脚本文件开始-->
{block name="script"}{/block}
<!--脚本文件结束-->
</html>